.dataTables_wrapper .dataTables_paginate .paginate_button{
    padding: 0;
}

.btn-group .btn {
    margin-right: 10px;
}
.row,.form-horizontal .form-group{
     margin-left: initial;
     margin-right: initial;
 }
label.required-input:after {
    content: ' * ';
    color: #f00;
}